.titleimage__number {
    position: absolute;
    bottom: 55px;
    right: 75px;
    color: rgb(89, 68, 63);
    font-family: "FuturaNew", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0px;
    text-shadow: -1px 0 rgb(89, 68, 63), 0 1px rgb(89, 68, 63), 1px 0 rgb(89, 68, 63), 0 -1px rgb(89, 68, 63);
}