.footer__logo {
    background-color: white;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1/2;
    grid-row: 1/3;
    justify-self: end;
    align-self: start;
}